# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
bin/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.res
*.txt
*.wav
*.mp3
**/bin/*.obj

.vs/
_Main/assets/models/Studio/ShootingStage.obj
_Main/assets/models/ShootingStage-new/ShootingStage.obj
_Main/x64/Debug/Awaliya.Build.CppClean.log
_Main/x64/Debug/Awaliya.log
_Main/x64/Debug/Awaliya.pdb
_Main/x64/Debug/common.obj
_Main/x64/Debug/GLLog.obj
_Main/x64/Debug/GLShaders.obj
_Main/x64/Debug/JishDeshMaiGanga.obj
_Main/x64/Debug/OGLMain.obj
_Main/x64/Debug/vc143.idb
_Main/x64/Debug/vc143.pdb
_Main/x64/Debug/Awaliya.tlog/Awaliya.lastbuildstate
_Main/x64/Debug/Awaliya.tlog/CL.command.1.tlog
_Main/x64/Debug/Awaliya.tlog/CL.read.1.tlog
_Main/x64/Debug/Awaliya.tlog/CL.write.1.tlog
_Main/x64/Debug/Awaliya.tlog/link-cvtres.read.1.tlog
_Main/x64/Debug/Awaliya.tlog/link-cvtres.write.1.tlog
_Main/x64/Debug/Awaliya.tlog/link-rc.read.1.tlog
_Main/x64/Debug/Awaliya.tlog/link-rc.write.1.tlog
_Main/x64/Debug/Awaliya.tlog/link.command.1.tlog
_Main/x64/Debug/Awaliya.tlog/link.read.1.tlog
_Main/x64/Debug/Awaliya.tlog/link.read.2.tlog
_Main/x64/Debug/Awaliya.tlog/link.write.1.tlog
_Main/x64/Debug/Awaliya.tlog/rc.command.1.tlog
_Main/x64/Debug/Awaliya.tlog/rc.read.1.tlog
_Main/x64/Debug/Awaliya.tlog/rc.write.1.tlog
_Main/x64/Debug/Awaliya.tlog/unsuccessfulbuild
_Main/x64/Release/Awaliya.Build.CppClean.log
_Main/x64/Release/Awaliya.exe.recipe
_Main/x64/Release/Awaliya.iobj
_Main/x64/Release/Awaliya.ipdb
_Main/x64/Release/Awaliya.log
_Main/x64/Release/Awaliya.pdb
_Main/x64/Release/common.obj
_Main/x64/Release/GLLog.obj
_Main/x64/Release/GLShaders.obj
_Main/x64/Release/JishDeshMaiGanga.obj
_Main/x64/Release/OGLMain.obj
_Main/x64/Release/vc143.pdb
_Main/x64/Release/Awaliya.tlog/Awaliya.lastbuildstate
_Main/x64/Release/Awaliya.tlog/CL.command.1.tlog
_Main/x64/Release/Awaliya.tlog/CL.read.1.tlog
_Main/x64/Release/Awaliya.tlog/CL.write.1.tlog
_Main/x64/Release/Awaliya.tlog/link.command.1.tlog
_Main/x64/Release/Awaliya.tlog/link.read.1.tlog
_Main/x64/Release/Awaliya.tlog/link.write.1.tlog
_Main/x64/Release/Awaliya.tlog/link.write.2u.tlog
_Main/x64/Release/Awaliya.tlog/rc.command.1.tlog
_Main/x64/Release/Awaliya.tlog/rc.read.1.tlog
_Main/x64/Release/Awaliya.tlog/rc.write.1.tlog
_Main/assets/models/ShootingStage-new/ShootingStage_D.mtl
_Main/assets/models/ShootingStage-new/ShootingStage_D.obj
_Main/assets.zip
Videos/*